In [39]:
import pandas as pd

In [40]:
data_file = "../Resources/purchase_data.csv"

In [41]:
data_file_df = pd.read_csv(data_file)
data_file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [42]:
# Player Count
# Total Number of Players
tot_num_players = len(data_file_df["SN"].unique())
players_df = pd.DataFrame([{"Total Players": tot_num_players}])
players_df

   Total Players
0            576

In [43]:
# Number of Unique items
unique_items = len(data_file_df["Item ID"].unique())
unique_items

179

In [44]:
# Average Purchase Price
avg_price = data_file_df["Price"].mean()
avg_price

3.050987179487176

In [45]:
# Total Number of Purchases
tot_num_pur = data_file_df["Purchase ID"].count()
tot_num_pur

780

In [46]:
#  Total Revenue
tot_revenue = data_file_df["Price"].sum()

In [47]:
purchase_df = pd.DataFrame([{
    "Number of unique Items": unique_items,"Average Price" : avg_price ,"Number of Purchases":tot_num_pur,"Total Revenue": tot_revenue
}])
purchase_df["Total Revenue"] = purchase_df["Total Revenue"].map("${:,.2f}".format)
purchase_df["Average Price"] = purchase_df["Average Price"].map("${:,.2f}".format)
purchase_df

   Number of unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [48]:
gender_df = data_file_df[["SN","Gender"]]
gender_df = gender_df.drop_duplicates(subset="SN")
gender_df.sort_values("Gender")
gender_count=gender_df["Gender"].count()
gender_count

576

In [49]:
male_df = gender_df[gender_df['Gender']== "Male"]
male_count = male_df['Gender'].count()
male_count

484

In [50]:
Perc_male_df = ((male_count/gender_count)*100).round(decimals = 2)
Perc_male_df

84.03

In [51]:
female_df = gender_df[gender_df['Gender']== "Female"]
female_count = female_df['Gender'].count()
female_count

81

In [52]:
Perc_female_df = ((female_count/gender_count)*100).round(decimals = 2)
Perc_female_df

14.06

In [53]:
other_df = gender_df[gender_df['Gender']== "Other / Non-Disclosed"]
other_count = other_df['Gender'].count()
other_count

11

In [54]:
Perc_other_df = ((other_count/gender_count)*100).round(decimals = 2)
Perc_other_df

1.91

In [55]:
perc_dicts_df = [{"Gender":'Male',"Total count":male_count,"Percentage of players":Perc_male_df},{"Gender":'Female',"Total count":female_count,"Percentage of players":Perc_female_df},
                       {"Gender":'Other / Non-Disclosed',"Total count":other_count,"Percentage of players":Perc_other_df}]
perc_dicts_df =pd.DataFrame(perc_dicts_df)
perc_dicts_df["Percentage of players"] = perc_dicts_df["Percentage of players"].map("{:,.2f}%".format)
perc_dicts_df.set_index("Gender")

                       Total count Percentage of players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [63]:
### Purchasing Analysis (Gender)
#Purchase Count
Purchase_count = data_file_df[["Purchase ID","Gender"]]
Purchase_count

     Purchase ID  Gender
0              0    Male
1              1    Male
2              2    Male
3              3    Male
4              4    Male
..           ...     ...
775          775  Female
776          776    Male
777          777    Male
778          778    Male
779          779    Male

[780 rows x 2 columns]