In [117]:
import pandas as pd

In [118]:
# Read csv file
data_file = "../Resources/purchase_data.csv"
data_file_df = pd.read_csv(data_file)

In [119]:
### Player Count

# Total Number of Players
tot_num_players = len(data_file_df["SN"].unique())
players_df = pd.DataFrame([{"Total Players": tot_num_players}])
players_df

   Total Players
0            576

In [120]:
### Purchasing Analysis (Total)

# Number of Unique items
unique_items = len(data_file_df["Item ID"].unique())

# Average Purchase Price
avg_price = data_file_df["Price"].mean()

# Total Number of Purchases
tot_num_pur = data_file_df["Purchase ID"].count()

#  Total Revenue
tot_revenue = data_file_df["Price"].sum()

purchase_df = pd.DataFrame([{
    "Number of unique Items": unique_items,"Average Price" : avg_price ,"Number of Purchases":tot_num_pur,"Total Revenue": tot_revenue
}])
purchase_df["Total Revenue"] = purchase_df["Total Revenue"].map("${:,.2f}".format)
purchase_df["Average Price"] = purchase_df["Average Price"].map("${:,.2f}".format)
purchase_df

   Number of unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [121]:
### Gender Demographics

gender_df = data_file_df[["SN","Gender"]]
gender_df = gender_df.drop_duplicates(subset="SN")
gender_df.sort_values("Gender")
gender_count=gender_df["Gender"].count()

#Male Count
male_df = gender_df[gender_df['Gender']== "Male"]
male_count = male_df['Gender'].count()
#Male Percentage
Perc_male_df = ((male_count/gender_count)*100).round(decimals = 2)

#Female Count
female_df = gender_df[gender_df['Gender']== "Female"]
female_count = female_df['Gender'].count()
#Female Percentage
Perc_female_df = ((female_count/gender_count)*100).round(decimals = 2)

# Others Count
other_df = gender_df[gender_df['Gender']== "Other / Non-Disclosed"]
other_count = other_df['Gender'].count()
#Other Percentage
Perc_other_df = ((other_count/gender_count)*100).round(decimals = 2)

perc_dicts_df = [{"Gender":'Male',"Total count":male_count,"Percentage of players":Perc_male_df},{"Gender":'Female',"Total count":female_count,"Percentage of players":Perc_female_df},
                       {"Gender":'Other / Non-Disclosed',"Total count":other_count,"Percentage of players":Perc_other_df}]
perc_dicts_df =pd.DataFrame(perc_dicts_df)
perc_dicts_df["Percentage of players"] = perc_dicts_df["Percentage of players"].map("{:,.2f}%".format)
perc_dicts_df.set_index("Gender")

                       Total count Percentage of players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [122]:
### Purchasing Analysis (Gender)

#Purchase Count
purchase_count = data_file_df.groupby("Gender")["Item ID"].count()

#Average Purchase Price
avg_purchase_price = data_file_df.groupby("Gender")["Price"].mean().map("${:,.2f}".format)

#Total Purchase Value
tot_purchase_value = data_file_df.groupby("Gender")["Price"].sum().map("${:,.2f}".format)

#Average Total Purchase Per Person
tot_avg_purchase_price = data_file_df.groupby(["SN","Gender"]).sum()
tot_avg_purchase_price = tot_avg_purchase_price.groupby("Gender")["Price"].mean().map("${:,.2f}".format)

purchase_analysis_df = pd.DataFrame ({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value" : tot_purchase_value, "Avg Total Purchase per Person" : tot_avg_purchase_price })
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [123]:
### Age Demographics

bins= [0,9,14,19,24,29,34,39,100]
age_groups= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_grp_purchase_data_df = data_file_df
age_grp_purchase_data_df["Age Groups"] = pd.cut(age_grp_purchase_data_df["Age"],bins,labels=age_groups,include_lowest=True)
age_grp_purchase_data_df

age_grp_purchase_data_df = age_grp_purchase_data_df.drop_duplicates(subset="SN")
age_grp_purchase_data_df  = age_grp_purchase_data_df.groupby("Age Groups")["SN"]

#Total Count
total_count_age_grp = age_grp_purchase_data_df.count()
total_players = gender_count

#Percentage of Players
age_grp_pct = ((total_count_age_grp/total_players)*100).round(decimals = 2)
age_grp_pct = age_grp_pct.map("{:,.2f}%".format)

age_demo_df = pd.DataFrame ({"Total Count": total_count_age_grp, "Percentage of Players": age_grp_pct })
age_demo_df

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [124]:
age_grp_purc_ana_df = data_file_df

#Add bins to DF
age_grp_purc_ana_df["Age Groups"] = pd.cut(age_grp_purc_ana_df["Age"],bins,labels=age_groups,include_lowest=True)
age_grp_purc_ana_df

#group by age
age_group_df = age_grp_purc_ana_df.groupby(["Age Groups"])

# Create calculations for summary
purchases_by_age = age_group_df["Price"].count()
avg_purc_by_age = age_group_df["Price"].mean()
total_spent_by_age = age_group_df["Price"].sum()
avg_total_purchase_per_person = total_spent_by_age/total_count_age_grp 

#Combined calculations into df
age_summary_df = pd.DataFrame(purchases_by_age)
age_summary_df["Average Purchase Price"] = avg_purc_by_age.map("${:,.2f}".format)
age_summary_df["Total Purchase Value"] = total_spent_by_age.map("${:,.2f}".format)
age_summary_df["Avg Total Purchase per Person"] = avg_total_purchase_per_person.map("${:,.2f}".format)

# Change price name to purchase count
age_summary_df= age_summary_df.rename(columns= {"Price":"Purchase Count"})
age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [125]:
#Group by SN for top spenders analysis
user_purchases_df=data_file_df.groupby(["SN"])

#Calculate purchase count, average purchase price, and total spent per SN
purchases_by_user=user_purchases_df["Price"].count()
average_purchase_by_user=user_purchases_df["Price"].mean()
total_purchases_by_sn=user_purchases_df["Price"].sum()

#combine calculations into DF
user_purchase_summary_df=pd.DataFrame(purchases_by_user)
user_purchase_summary_df["Average Purchase Price"]=average_purchase_by_user.map("${:,.2f}".format)
user_purchase_summary_df["Total Purchase Value"]=total_purchases_by_sn

#Change "Price" column name
user_purchase_summary_df = user_purchase_summary_df.rename(columns={
    "Price": "Purchase Count",
})

#Sort Highest to lowest on total purchase value
user_purchase_summary_df=user_purchase_summary_df.sort_values(by=["Total Purchase Value"], ascending=False)
user_purchase_summary_df.head(5)

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

In [126]:
### Most Popular Items

#Group by Item ID for most popular items analysis
pop_items_df=data_file_df.groupby(["Item ID", "Item Name"])

#Calculate purchase count by item
purchases_by_item=pop_items_df['Price'].count()

#Calculate total purchase value
revenue_by_item=pop_items_df['Price'].sum()

#Calculate Item Price
item_price_popular = revenue_by_item/purchases_by_item

#Combine into Summary DF
item_popularity_summary_df=pd.DataFrame(purchases_by_item)
item_popularity_summary_df['Item Price']=item_price_popular.map("${:,.2f}".format)
item_popularity_summary_df['Total Purchase Value']=revenue_by_item


#rename "Price" column
item_popularity_summary_df = item_popularity_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

#Sort by purchase count & filter to top 5
item_popularity_summary_df=item_popularity_summary_df.sort_values(by=['Purchase Count'], ascending=False)
item_popularity_summary_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

In [127]:
### Most Profitable Items

#Rename DF for profitability
item_profitability_summary_df = item_popularity_summary_df


#Sort on most profitable & filter to top 5
item_profitability_summary_df = item_profitability_summary_df.sort_values(by=['Total Purchase Value'], ascending=False)
item_profitability_summary_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80