In [40]:
import pandas as pd

In [41]:
data_file = "../Resources/purchase_data.csv"

In [42]:
data_file_df = pd.read_csv(data_file)
data_file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [43]:
# Player Count
# Total Number of Players
tot_num_players = len(data_file_df["SN"].unique())
players_df = pd.DataFrame([{"Total Players": tot_num_players}])
players_df

   Total Players
0            576

In [44]:
# Number of Unique items
unique_items = len(data_file_df["Item ID"].unique())
unique_items

179

In [45]:
# Average Purchase Price
avg_price = data_file_df["Price"].mean()
avg_price

3.050987179487176

In [46]:
# Total Number of Purchases
tot_num_pur = data_file_df["Purchase ID"].count()
tot_num_pur

780

In [47]:
#  Total Revenue
tot_revenue = data_file_df["Price"].sum()
tot_revenue

2379.77

In [48]:
purchase_df = pd.DataFrame([{
    "Number of unique Items": unique_items,"Average Price" : avg_price ,"Number of Purchases":tot_num_pur,"Total Revenue": tot_revenue
}])
purchase_df

   Number of unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [49]:
gender_df = data_file_df["Gender"].value_counts()
gender_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [50]:
gender_total_df = data_file_df["Gender"].count()
gender_count = gender_total_df
gender_count

780

In [51]:
male_df = data_file_df[data_file_df['Gender']== "Male"]
male_count = male_df['Gender'].count()
male_count

652

In [52]:
Perc_male_df = ((male_count/gender_count)*100).round(decimals = 2)
Perc_male_df

83.59

In [53]:
female_df = data_file_df[data_file_df['Gender']== "Female"]
female_count = female_df['Gender'].count()
female_count

113

In [54]:
Perc_female_df = ((female_count/gender_count)*100).round(decimals = 2)
Perc_female_df

14.49

In [55]:
other_df = data_file_df[data_file_df['Gender']== "Other / Non-Disclosed"]
other_count = other_df['Gender'].count()
other_count

15

In [56]:
Perc_other_df = ((other_count/gender_count)*100).round(decimals = 2)
Perc_other_df

1.92

In [62]:
perc_dicts = [{"Gender":'Male',"Gender_count":male_count,"Percentage of players":Perc_male_df},{"Gender":'Female',"Gender_count":female_count,"Percentage of players":Perc_female_df},
                       {"Gender":'Other / Non-Disclosed',"Gender_count":other_count,"Percentage of players":Perc_other_df}]
perc_dicts =pd.DataFrame(perc_dicts)
perc_dicts

                  Gender  Gender_count  Percentage of players
0                   Male           652                  83.59
1                 Female           113                  14.49
2  Other / Non-Disclosed            15                   1.92

In [ ]:
### Purchasing Analysis (Gender)
#Purchase Count