In [247]:
import pandas as pd

In [248]:
# Read csv file
data_file = "../Resources/purchase_data.csv"
data_file_df = pd.read_csv(data_file)

In [249]:
### Player Count

# Total Number of Players
tot_num_players = len(data_file_df["SN"].unique())
players_df = pd.DataFrame([{"Total Players": tot_num_players}])
players_df

   Total Players
0            576

In [250]:
### Purchasing Analysis (Total)

# Number of Unique items
unique_items = len(data_file_df["Item ID"].unique())

# Average Purchase Price
avg_price = data_file_df["Price"].mean()

# Total Number of Purchases
tot_num_pur = data_file_df["Purchase ID"].count()

#  Total Revenue
tot_revenue = data_file_df["Price"].sum()

purchase_df = pd.DataFrame([{
    "Number of unique Items": unique_items,"Average Price" : avg_price ,"Number of Purchases":tot_num_pur,"Total Revenue": tot_revenue
}])
purchase_df["Total Revenue"] = purchase_df["Total Revenue"].map("${:,.2f}".format)
purchase_df["Average Price"] = purchase_df["Average Price"].map("${:,.2f}".format)
purchase_df

   Number of unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [251]:
### Gender Demographics

gender_df = data_file_df[["SN","Gender"]]
gender_df = gender_df.drop_duplicates(subset="SN")
gender_df.sort_values("Gender")
gender_count=gender_df["Gender"].count()

#Male Count
male_df = gender_df[gender_df['Gender']== "Male"]
male_count = male_df['Gender'].count()
#Male Percentage
Perc_male_df = ((male_count/gender_count)*100).round(decimals = 2)

#Female Count
female_df = gender_df[gender_df['Gender']== "Female"]
female_count = female_df['Gender'].count()
#Female Percentage
Perc_female_df = ((female_count/gender_count)*100).round(decimals = 2)

# Others Count
other_df = gender_df[gender_df['Gender']== "Other / Non-Disclosed"]
other_count = other_df['Gender'].count()
#Other Percentage
Perc_other_df = ((other_count/gender_count)*100).round(decimals = 2)

perc_dicts_df = [{"Gender":'Male',"Total count":male_count,"Percentage of players":Perc_male_df},{"Gender":'Female',"Total count":female_count,"Percentage of players":Perc_female_df},
                       {"Gender":'Other / Non-Disclosed',"Total count":other_count,"Percentage of players":Perc_other_df}]
perc_dicts_df =pd.DataFrame(perc_dicts_df)
perc_dicts_df["Percentage of players"] = perc_dicts_df["Percentage of players"].map("{:,.2f}%".format)
perc_dicts_df.set_index("Gender")

                       Total count Percentage of players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [252]:
### Purchasing Analysis (Gender)

#Purchase Count
purchase_count = data_file_df.groupby("Gender")["Item ID"].count()

#Average Purchase Price
avg_purchase_price = data_file_df.groupby("Gender")["Price"].mean().map("${:,.2f}".format)

#Total Purchase Value
tot_purchase_value = data_file_df.groupby("Gender")["Price"].sum().map("${:,.2f}".format)

#Average Total Purchase Per Person
tot_avg_purchase_price = data_file_df.groupby(["SN","Gender"]).sum()
tot_avg_purchase_price = tot_avg_purchase_price.groupby("Gender")["Price"].mean().map("${:,.2f}".format)

purchase_analysis_df = pd.DataFrame ({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value" : tot_purchase_value, "Avg Total Purchase per Person" : tot_avg_purchase_price })
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [258]:
### Age Demographics

bins= [0,9,14,19,24,29,34,39,100]
age_groups= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_grp_purchase_data_df = data_file_df
age_grp_purchase_data_df["Age Groups"] = pd.cut(age_grp_purchase_data_df["Age"],bins,labels=age_groups,include_lowest=True)
age_grp_purchase_data_df

age_grp_purchase_data_df = age_grp_purchase_data_df.drop_duplicates(subset="SN")
age_grp_purchase_data_df  = age_grp_purchase_data_df.groupby("Age Groups")["SN"]

#Total Count
total_count_age_grp = age_grp_purchase_data_df.count()
total_players = gender_count

#Percentage of Players
age_grp_pct = ((total_count_age_grp/total_players)*100).round(decimals = 2)
age_grp_pct = age_grp_pct.map("{:,.2f}%".format)

age_demo_df = pd.DataFrame ({"Total Count": total_count_age_grp, "Percentage of Players": age_grp_pct })
age_demo_df

# age_demo_df = age_demo_df.round(2)
# age_demo_df.sort_index()

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [259]:

bins= [0,9,14,19,24,29,34,39,100]
age_groups= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_grp_purc_ana_df = data_file_df
age_grp_purc_ana_df["Age Groups"] = pd.cut(age_grp_purc_ana_df["Age"],bins,labels=age_groups,include_lowest=True)
age_grp_purc_ana_df

#Purchase Count
purc_count_ana = age_grp_purc_ana_df.groupby("Age Groups")["SN"].count()

#Average Purchase Price
avg_purchase_price_ana = age_grp_purc_ana_df.groupby("Age Groups")["Price"].mean().map("${:,.2f}".format)

#Total Purchase Value
tot_purchase_value_ana = age_grp_purc_ana_df.groupby("Age Groups")["Price"].sum().map("${:,.2f}".format)

#Average Total Purchase Per Person

# tot_avg_purchase_price_ana = tot_purchase_value_ana/age_demo_df["Total Count"]
tot_avg_purchase_price_ana = age_grp_purc_ana_df.groupby(["Age","Age Groups"]).sum()
tot_avg_purchase_price_ana = tot_avg_purchase_price_ana.groupby("Age Groups")["Price"].mean().map("${:,.2f}".format)

purchase_analysis_age_df = pd.DataFrame ({"Purchase Count": purc_count_ana, "Average Purchase Price": avg_purchase_price_ana, "Total Purchase Value" : tot_purchase_value_ana, "Avg Total Purchase per Person" : tot_avg_purchase_price_ana })
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$1.98
10-14,28,$2.96,$82.78,$2.12
15-19,136,$3.04,$412.89,$10.59
20-24,365,$3.05,"$1,114.06",$28.57
25-29,101,$2.90,$293.00,$7.51
30-34,73,$2.93,$214.00,$5.49
35-39,41,$3.60,$147.67,$3.79
40+,13,$2.94,$38.24,$0.98

In [255]:
orig_purchase_data_df = pd.DataFrame(purc_count_ana)
top_spenders_df = data_file_df.groupby("SN")
top_spenders_df.count()

               Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Groups
SN
Adairialis76             1    1       1        1          1      1           1
Adastirin33              1    1       1        1          1      1           1
Aeda94                   1    1       1        1          1      1           1
Aela59                   1    1       1        1          1      1           1
Aelaria33                1    1       1        1          1      1           1
...                    ...  ...     ...      ...        ...    ...         ...
Yathecal82               3    3       3        3          3      3           3
Yathedeu43               2    2       2        2          2      2           2
Yoishirrala98            1    1       1        1          1      1           1
Zhisrisu83               2    2       2        2          2      2           2
Zontibe81                3    3       3        3          3      3           3

[576 rows x 7 columns]